@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* <header> */
header {
    width: 300px;
    margin: 0 550px;
}

header img {
    float: left;
}

header h1 {
    position: relative;
    top: 10px;
    left: 10px;
}

img {
    width: 70px;
    height: auto;
}

nav {
    width: 300px;
    margin: 0 550px;
    padding: 20px 0;
    text-align: center;
}

nav a {
    margin: 20px;
    color: #000;
    text-decoration: none;
}